
<table>
<tr>
  <td>会員ID</td>
  <td>氏名</td>
  <td>性別</td>
  <td>年齢</td>
  <td>成人</td>
</tr>

<% @members.each do |member| %>

<%
if member[:sex] == 1
    member[:sex] = "女"
else
    member[:sex] = "男"
end
%>


<%
if member[:age] >= 20
    member[:signal] = "◯"
end
%>

<tr>
<td><%="#{member[:id]}" %></td>
<td><%= "#{member[:name]}" %></td>
<td><%= "#{member[:sex]}" %></td>
<td><%= "#{member[:age]}" %></td>
<td><%= "#{member[:signal]}" %></td>
</tr>

<% end %>

</table>
